body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('decoracaodesalaodebelezaabre.jpeg'); /* Substitua pelo caminho para sua imagem */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo da caixa */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: auto; /* Centraliza horizontalmente */
}

h1 {
    margin-top: 0;
}

.btn-escolha {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-escolha:hover {
    background-color: #2980b9;
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    .container {
        padding: 10px; /* Reduz o padding */
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
